@using Microsoft.AspNetCore.Authentication
@model AuthenticationScheme[]


<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>

        
            @foreach (var claim in Context.User.Claims)
            {
                <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
            }
        
        <form action="/signout" method="post">
            <button class="btn btn-lg btn-danger" type="submit">Sign Out</button>
        </form>
        
        <form action="/CompleteRegistration">
            <button class="btn btn-lg btn-success" type="submit">Complete Registration</button>
        </form>
        
    }

    else
    {
        <h1>Welcome, anonymous</h1>
        
        <div class="jumbotron">
            <h1>Authentication</h1>
            <p class="lead text-left">Sign in using one of these external providers:</p>

            @foreach (var scheme in Model.OrderBy(p => p.DisplayName))
            {
                <form action="/signin" method="post">
                    <input type="hidden" name="Provider" value="@scheme.Name" />
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                    <button class="btn btn-lg btn-success m-1" type="submit">Connect using @scheme.DisplayName</button>
                </form>
            }
        </div>
    }
</div>